.dark-mode {
	background-color: darken($grisOscuro, 10);

	p {
		color: $blanco;
	}

	a,
	h1,
	h2,
	h3,
	h4 {
		color: $gris;
	}



	.anuncio {
		background-color: $grisOscuro;
		border: 1px solid $grisOscuro;


	}

	.icono-sgv {
		filter: invert(100%);
	}

	blockquote {
		color: #4c4949;
	}

	.formulario input:not([type="submit"]),
	.formulario select,
	.formulario textarea {
		background-color: #4c4949;
		border: 1px solid #807f7f2a;
		color: $blanco;

		&::placeholder {
			color: $blanco;
		}



	}


	fieldset p{
		color: $blanco;

	}

	fieldset legend{
		color: #ccc;
	}

	

	.formulario fieldset {
		margin-top: 2rem;
		color: #fff;
	}

	.iconos-caracteristicas{
		img {
			filter: invert(50%);
		}
	}
}